<h1>Editing User</h1>

<% if @match.eql?('sayur') %>
	<%= render 'cedit', user: @user %>
<% end %>
<% if @match.eql?('change') %>
	<%= render 'change_password', user: @user %>
<% end %>
</br>

<%= link_to 'Back', users_path, class: "hollow button secondary" %>