<p id="notice"><%= notice %></p>

<% if current_user.role.eql?('admin') %>
  <% controller.redirect_to '/admin' %>
  <% elsif current_user.role.eql?('customer') %>
    <% controller.redirect_to '/customer' %>
  <% elsif current_user.role.eql?('runner') %>
    <% controller.redirect_to '/runner' %>
  <% elsif current_user.role.eql?('chef') %>
    <% controller.redirect_to '/chef' %>
  <% else %>
    <h3>You are not member yet</h3>
    <p><% link_to "Click to register", '/signup' %></p>
<% end %>
            