<p id="notice"><%= notice %></p>

<h2>New Registrations</h2><br>

	<% if current_user %>
		
		<%= render 'service', user: @user %></br>

	<% else %>

		<%= render 'form', user: @user %></br>

	<% end %>
