<h1>New Registrations</h1>

	<% if current_user %>
		
		<%= render 'service', user: @user %></br>
		<%= link_to 'Back', users_path, class: "hollow button secondary" %>

	<% else %>

		<%= render 'form', user: @user %></br>
		<%= link_to 'Back', '/login', class: "hollow button secondary" %>

	<% end %>
