<h1>New Registrations</h1>

	<% if current_user %>
		
		<h3>testing</h3>
		<%= render 'service', user: @user %>
		<%= link_to 'Back', users_path %>

	<% else %>

		<%= render 'form', user: @user %>
		<%= link_to 'Back', users_path %>

	<% end %>
