@import "bootstrap-sprockets";
@import "bootstrap";
@import 'select2';
@import 'select2-bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";


body {
	padding-top:65px;
	padding-bottom: 40px;
}

.navbar-fixed-top {
	position: fixed;
	background-color: #009688;
}

.affix > li > a {
    color: #f1f4f7;
    text-decoration: none;
}

.affix > li > a:hover {
    color: #1A232B;
    text-decoration: none;
}

.navbar-brand {
    color: #f1f4f7;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #1A232B;
    text-decoration: none;
}

.navbar-right > li > a {
    color: #f1f4f7;
    text-decoration: none;
}

.navbar-right > li > a:hover {
    color: #1A232B;
    text-decoration: none;
}

.content {
	background-color: #eee;
}

.table {
	border-radius: 5px;
	width: 95%;
	margin: 0px auto;
	float: none;
}

#page-wrapper{
    width: 1000px;
}

#sidebar{

        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #004D40;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

@media screen and (max-width: 750px)  {
  #sidebar { display: none; }
  .content { width: 100%; }
} 

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-primary > a {
	color: #3E55F5;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}



.calendar {
    margin: 0px 20px;
}

[data-toggle="calendar"] > .row > .calendar-head {
    font-family: 'Roboto', sans-serif;
    width: 12.28571428571429%;
    border: 1px solid rgb(0,102,102);
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-height: 30px;
    background-color: #006064;
    color: #FFFFFF;
}

[data-toggle="calendar"] > .row > .calendar-day {
    font-family: 'Roboto', sans-serif;
    width: 12.28571428571429%;
    border: 1px solid rgb(0,102,102);
    border-right-width: 0px;
    border-bottom-width: 1px;
    min-height: 125px;
}

[data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
    color: rgb(200, 200, 200);
}

[data-toggle="calendar"] > .row > .calendar-day:last-child {
    border-right-width: 1px;
}

[data-toggle="calendar"] > .row:last-child > .calendar-day {
    border-bottom-width: 1px;
}

[data-toggle="calendar"] > .row > .calendar-head:last-child {
    border-right-width: 1px;
}

[data-toggle="calendar"] > .row:last-child > .calendar-head {
    border-bottom-width: 1px;
}


.calendar-day > .events {
    cursor: pointer;
}
.calendar-day > .events > .event h3 {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    padding-top: 4px
}

.calendar-day > .events > .event h4 {
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    padding-top: 3px
}

.calendar-day > .events > .event h4 > a {
    color: #263238;
}

.calendar-day > .events > .event h4 > a:hover {
    color: #E65100;
}

.calendar-head > strong > a {
    color: #FFFFFF;
}

.calendar-head > strong > a:hover {
    color: #263238;
}